.aboutWrapper {
    display: flex;
}

.aboutText {
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    margin-left: 50px;
}

.aboutTitle {
    font-family: 'Varela', sans-serif;
    margin-top: 20px;
}

.aboutStatement {
    margin-top: 20px;
}

.aboutParagraph {
    padding-top: 10px;
}

.resources {
    display: none;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .aboutParagraph {
        max-width: 200px;
    }
    .resources {
        display: block;
        position: absolute;
        right: 45%;
        top: 60%;
        cursor: pointer;
        background-color: lightcoral;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 10px;
    }
}